#uni_logo, #c_logo {
    width:150px;
    height:95px;
    object-fit: contain;
}

.fileDiv {
    position: relative;
    overflow: hidden;
}

.upload_attachment {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.btnFileOpen {
    margin-top: -50px;
}

/*
 * Component: Direct Chat
 * ----------------------
 */
 .direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
  }

  .direct-chat-messages {
    padding: 10px;
    height: 250px;
    overflow: auto;
  }
  .direct-chat-msg {
    display: block;
  }

  .direct-chat-text {
    width: fit-content;
  }

  .direct-chat-msg {
    margin-bottom: 10px;
  }
  .direct-chat-msg:before,
  .direct-chat-msg:after {
    content: " ";
    display: table;
  }
  .direct-chat-msg:after {
    clear: both;
  }

  .direct-chat-messages {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
  }
  .direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px; 
    background: #bfc4e0; /*********************this is the receiver's chat bubble colour*************************/
    border: 1px solid #bfc4e0;
    margin: 5px 0 0 0;
    color: #444444;
  }
  .direct-chat-text:after,
  .direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #bfc4e0;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none;
  }
  .direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px;
  }
  .direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px;
  }
  .right .direct-chat-text:after,
  .right .direct-chat-text:before {
    right: auto;
    left: 100%;
    border-right-color: transparent;
    border-left-color: #d2d6de;
  }
  .direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px;
  }
  .right .direct-chat-img {
    float: right;
  }
  .direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
  }
  .direct-chat-name {
    font-weight: 600;
  }
  .direct-chat-timestamp {
    color: #999;
  }
  .direct-chat-danger .right > .direct-chat-text {
    background: #dd4b39;
    border-color: #dd4b39;
    color: #ffffff;
  }
  .direct-chat-danger .right > .direct-chat-text:after,
  .direct-chat-danger .right > .direct-chat-text:before {
    border-left-color: #dd4b39;
  }
  .direct-chat-primary .right > .direct-chat-text {
    background: #70a9a1; /*********************this is the sender's chat bubble colour*************************/
    border-color: #70a9a1;
    color: #FFF;
    text-align: right;
  }
  .direct-chat-primary .right > .direct-chat-text:after,
  .direct-chat-primary .right > .direct-chat-text:before {
    border-left-color: #70a9a1;
  }
  .direct-chat-warning .right > .direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #ffffff;
  }
  .direct-chat-warning .right > .direct-chat-text:after,
  .direct-chat-warning .right > .direct-chat-text:before {
    border-left-color: #f39c12;
  }
  .direct-chat-info .right > .direct-chat-text {
    background: #00c0ef;
    border-color: #00c0ef;
    color: #ffffff;
  }
  .direct-chat-info .right > .direct-chat-text:after,
  .direct-chat-info .right > .direct-chat-text:before {
    border-left-color: #00c0ef;
  }
  .direct-chat-success .right > .direct-chat-text {
    background: #00a65a;
    border-color: #00a65a;
    color: #ffffff;
  }
  .direct-chat-success .right > .direct-chat-text:after,
  .direct-chat-success .right > .direct-chat-text:before {
    border-left-color: #00a65a;
  }

  